<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/slick.css">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="site-navigation">
		<div class="site-navigation-inner site-container" >
			<h1 style="color: rgb(210, 141, 92); font-size: 30px;">Book shop</h1>
			<div class="main-navigation">
				<ul class="main-navigation__ul">
					<li><a href="/">Homepage</a></li>
					<li><a href="#">Aksiyalar</a></li>
					<li><a href="{% url 'news' %}">News</a></li>
					<li><a href="{% url 'mycart' %}">View Cart</a></li>
				</ul>
			</div>
			<div id="myBtn" class="burger-container" onclick="myFunction(this)">
				<div class="bar1"></div>
				<div class="bar2"></div>
				<div class="bar3"></div>
			</div>
			<script>
				function myFunction(x) {
					x.classList.toggle("change");
				}
			</script>

		</div>
	</nav>
    <br><br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4>My cart Items</h4>
                <table class="table">
                    <thead>
                        <th>ID</th>
                        <th>Product</th>
                        <th>Narxi</th>
                        <th>soni</th>
                        <th>jami narx</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                    {% for cp in cart.cartproduct_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{cp.product.book_name}}</td>
                        <td>{{cp.rate}}</td>
                        <td>{{cp.quantity}}</td>
                        <td>{{cp.subtotal}}</td>
                        <td>
                            <a href="{% url 'managecart' cp.id %}?action=inc" class="btn btn-primary"> + </a>
                            <a href="{% url 'managecart' cp.id %}?action=dcr" class="btn btn-warning"> - </a>
                            <a href="{% url 'managecart' cp.id %}?action=rmv" class="btn btn-danger"> x </a>
                        </td>

                    
                        {% endfor %}
                    <tr>
                            <th colspan="4" class="text-right">Total</th>
                            <th>summ. {{cart.total}} $</th>
                            {% if cart.cartproduct_set.all %}
                            <th><a href="{% url 'emptycart' %}">Empty Cart</a></th>
                            {% endif %}
                        </tr>
                        {% if cart.cartproduct_set.all %}
                        <tr>
                            <th><a class="btn btn-info" href="#"> Checkout </a></th>
                        </tr>
                        {% endif %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br><br><br>
    <!-- Footer -->
	<footer class="site-footer">
		<div class="site-container">
			<div class="footer-inner">
				<div class="footer-info">
					<div class="footer-info__left">
						<img src="/static/images/footer-img.jpg" alt="about me image">
						<p>Read more about me</p>
					</div>
					<div class="footer-info__right">
						<h5>Get In Touch</h5>
						<p class="footer-phone">Phone: +958734902847</p>
						<p>Email : Jhone@Example.com</p>
						<div class="social-icons">
							<a href="#" target="_blank"><img src="/static/images/social-twitter.png" alt="social icon"></a>
							<a href="#" target="_blank"><img src="/static/images/social-pinterest.png" alt="social icon"></a>
							<a href="#" target="_blank"><img src="/static/images/social-youtube.png" alt="social icon"></a>
							<a href="#" target="_blank"><img src="/static/images/social-twitter.png" alt="social icon"></a>
						</div>
					</div>
				</div>
				<div class="footer-contact-form">
					<h5>Contact Form</h5>
					<form class="contact-form">
						<div class="contact-form__input">
							<input type="text" name="name" placeholder="Name">
							<input type="email" name="email" placeholder="Email">
						</div>
						<textarea></textarea>
						<input type="submit" name="submit" value="Submit" class="submit-button">
					</form>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="site-container footer-bottom-inner">
				
				<div class="footer-bottom__img">
					<img src="/static/images/footer-mastercard.png" alt="footer image">
					<img src="/static/images/footer-paypal.png" alt="footer image">
					<img src="/static/images/footer-visa.png" alt="footer image">
					<img src="/static/images/footer-fedex.png" alt="footer image">
					<img src="/static/images/footer-dhl.png" alt="footer image">
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer end -->

	<!-- Scripts -->
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/slick.min.js"></script>
	<script src="/static/js/main.js"></script>
</body>
</html>